This part just combines the Dataset of England, Wales and Scotland seperatley into one CSV file designed for modelling purpose

In [1]:
import pandas as pd

# Lists of CSV file paths that were downloaded seperately
csv_files = ['England_Houses.csv', 'Scotland_Houses.csv', 'Wales_Houses.csv']

# Reading and concatenate the CSV files
combined_csv = pd.concat([pd.read_csv(f) for f in csv_files])

# Saving the concatenated data to a new CSV file
combined_csv.to_csv('combined.csv', index=False)

In [2]:
pd.read_csv('Combined.csv')

,County Name,Region Code,Date,Sales volume,Average price All property types,House price index All property types,Property type sales Volume,Average price Detached houses,House price index Detached houses,Semi-Detached House Price,...,Average price Mortgage purchases,Price Mortgage Purchase Index,Mortgage Sales Volume,Average price New build,House price index New build,Sales volume New build,Average price Existing properties,Existing Properties Index,Existing properties Sales Volume,Country
0,Northumberland,E06000057,2020-03,404.000000,155435,109.46,404.000000,259856,110.67,147437,...,162018,109.81,239.000000,221320.000000,115.550000,102.000000,151628.000000,109.140000,302.00000,England
1,Northumberland,E06000057,2020-04,130.000000,155003,109.16,130.000000,259636,110.58,146895,...,161598,109.53,79.000000,221187.000000,115.480000,16.000000,151112.000000,108.770000,114.00000,England
2,Northumberland,E06000057,2020-05,200.000000,153760,108.28,200.000000,258075,109.91,145718,...,160491,108.78,103.000000,222268.000000,116.040000,16.000000,149329.000000,107.490000,184.00000,England
3,Northumberland,E06000057,2020-06,330.000000,154870,109.07,330.000000,259207,110.40,146942,...,161594,109.52,181.000000,221985.000000,115.890000,51.000000,150793.000000,108.540000,279.00000,England
4,Northumberland,E06000057,2020-07,363.000000,156443,110.17,363.000000,261110,111.21,148521,...,163114,110.55,208.000000,222306.000000,116.060000,38.000000,152706.000000,109.920000,325.00000,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6797,Monmouthshire,W06000021,2023-12,89.000000,335089,160.10,89.000000,479796,161.30,281695,...,344754,160.70,57.000000,469382.000000,169.300000,6.000000,332297.000000,161.200000,83.00000,Wales
6798,Monmouthshire,W06000021,2024-01,46.000000,324680,155.10,46.000000,465128,156.40,272810,...,334161,155.80,24.000000,462462.000000,166.800000,5.800000,321759.000000,156.100000,46.00000,Wales
6799,Monmouthshire,W06000021,2024-02,35.000000,330831,158.10,35.000000,473739,159.30,278678,...,340967,159.00,9.000000,488274.000000,176.100000,4.600000,326659.000000,158.400000,35.00000,Wales
6800,Monmouthshire,W06000021,2024-03,156.777462,335472,160.30,156.777462,480907,161.70,282688,...,345977,161.30,103.366477,250121.631629,145.687794,9.964365,194242.005682,144.215085,148.30303,Wales
6801,Monmouthshire,W06000021,2024-04,156.777462,350254,167.40,156.777462,501586,168.70,295908,...,361557,168.60,103.366477,250121.631629,145.687794,9.964365,194242.005682,144.215085,148.30303,Wales